
{% extends "layout.html" %}

{% block pageTitle %}
  Feedback - Expanded - Standard met version 2
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Your results</h1>
      <p class="govuk-body">You have met the standard for accreditation.</p>

      <h2 class="govuk-heading-l">Overall assessment result</h2>
      <p class="govuk-body">Met.</p>

      <!-- Knowledge assessment results -->
      <h2 class="govuk-heading-l">Knowledge assessment results</h2>
      <p class="govuk-body">Met.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">General knowledge questions - 75%</p>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-half">
          <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">Applied knowledge questions - 80%</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Simulated, reflective and written practice assessments -->
      <h2 class="govuk-heading-l">Simulated, reflective and written practice assessments</h2>
      <p class="govuk-body">Met.</p>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">Simulated practice assessment - 83%</p>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">Reflective practice assessment - 80%</p>
            </div>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="govuk-notification-banner govuk-notification-banner--success" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__content">
              <p class="govuk-body">Written practice assessment - 85%</p>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <h3 class="govuk-heading-m">Next steps</h3>

      <p class="govuk-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" onclick="window.print()">Print certificate</button></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><a class="govuk-link" href="mailto:candidate.email@local-authority.gov.uk" target="_blank">Email me the certificate</a></p>
        </div>
        <div class="govuk-grid-column-one-third">
          <p class="govuk-body"><a class="govuk-link" href="mailto:candidate.email@local-authority.gov.uk" target="_blank">Email me the results</a></p>
        </div>
      </div>

      <h4 class="govuk-heading-s">Knowledge assessment &mdash; additional resources</h4>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="#">Reading material 1</a></li>
        <li><a class="govuk-link" href="#">Reading material 2</a></li>
      </ul>

      <h4 class="govuk-heading-s">Simulated practice &mdash; additional resources</h4>
      <ul class="govuk-list">
        <li><a class="govuk-link" href="#">Reading material 1</a></li>
        <li><a class="govuk-link" href="#">Reading material 2</a></li>
        <li><a class="govuk-link" href="#">Reading material 3</a></li>
      </ul>

    </div>
  </div>

{% endblock %}
