
{% extends "layout.html" %}

{% block pageTitle %}
  Feedback - Simple - Standard met
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-panel__title">Your results</h1>
      <p class="govuk gov-body">
        You have met the standard for accreditation.
      </p>

      <!-- <div class="blue-br"></div> -->
      <!-- <h2 class="govuk-heading-l">Further reading</h2>
      <ul>
        <li><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
        <li><a href="#">Link 4</a></li>
      </ul> -->

    </div>
  </div>

{% endblock %}
