
{% extends "layout.html" %}

{% block pageTitle %}
  Book a social work assessment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Book a social work assessment</h1>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          info page for the assessment
        </li>
        <li>
          what is involved
        </li>
        <li>
          resources to help with revision
        </li>
      </ul>
      <a href="login" class="govuk-button" data-module="govuk-button">
        Login
      </a>
    </div>
  </div>

{% endblock %}
