
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">SWAA Prototypes</h1>

      <p class="govuk-body-l">Below are a collection of prototypes.</p>

      <!-- Current prototype(s) -->
      <!-- #################### -->

      <!-- Booking journey — V4 -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <a href="booking/version-4/" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Booking</h2>
            <p class="govuk-!-font-weight-regular">Version 4</p>
          </a>
        </div>

      </div>

      <hr />

      <!-- Feedback journeys -->
      <div class="govuk-grid-row">

        <!-- Expanded - standard met -->
        <div class="govuk-grid-column-one-quarter">
          <a href="feedback/expanded-standard-met-v2/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Results</h2>
            <p class="govuk-!-font-weight-regular">Expanded - Standard met - Version 2</p>
          </a>
        </div>

        <!-- Expanded - standard NOT met -->
        <div class="govuk-grid-column-one-quarter">
          <a href="feedback/expanded-standard-not-met-v2/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Results</h2>
            <p class="govuk-!-font-weight-regular">Expanded - Standard NOT met - Version 2</p>
          </a>
        </div>

      </div>

      <hr />

      <!-- Archived prototype(s) -->
      <!-- #################### -->

      <h2>Archived prototypes</h2>

      <!-- Booking journey — V3 (with some content) -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <a href="booking/version-3/" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Booking</h2>
            <p class="govuk-!-font-weight-regular">Version 3</p>
          </a>
        </div>

      </div>

      <hr />

      <div class="govuk-grid-row">
        <!-- Simple — standard met -->
        <div class="govuk-grid-column-one-quarter">
          <a href="feedback/simple-standard-met/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Results</h2>
            <p class="govuk-!-font-weight-regular">Simple — standard met</p>
          </a>
        </div>

        <!-- Simple — standard NOT met -->
        <div class="govuk-grid-column-one-quarter">
          <a href="feedback/simple-standard-not-met/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Results</h2>
            <p class="govuk-!-font-weight-regular">Simple — standard NOT met</p>
          </a>
        </div>

        <!-- Expanded - standard met -->
        <div class="govuk-grid-column-one-quarter">
          <a href="feedback/expanded-standard-met/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Results</h2>
            <p class="govuk-!-font-weight-regular">Expanded - standard met</p>
          </a>
        </div>

        <!-- Expanded - standard NOT met -->
        <div class="govuk-grid-column-one-quarter">
          <a href="feedback/expanded-standard-not-met/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Results</h2>
            <p class="govuk-!-font-weight-regular">Expanded - standard NOT met</p>
          </a>
        </div>
      </div>

      <hr />

      <!-- Booking journey — V2 (with some content) -->
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          <a href="booking/version-2/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Booking</h2>
            <p class="govuk-!-font-weight-regular">Version 2</p>
          </a>
        </div>
      </div>

      <hr />

      <div class="govuk-grid-row">
        <!-- Booking journey — all-in-one -->
        <div class="govuk-grid-column-one-quarter">
          <a href="booking/all-in-one/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Booking</h2>
            <p class="govuk-!-font-weight-regular">All-in-one</p>
          </a>
        </div>

        <!-- Booking journey — split -->
        <div class="govuk-grid-column-one-quarter">
          <a href="booking/split/index" target="_blank" class="govuk-link govuk-link--inverse blue-grid-box">
            <h2 class="govuk-heading-m">Booking</h2>
            <p class="govuk-!-font-weight-regular">Split</p>
          </a>
        </div>
      </div>

    </div>

  </div>

{% endblock %}
