
{% extends "layout.html" %}

{% block pageTitle %}
  Social worker assessment and accreditation
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Social worker assessment and accreditation</h1>
      <h2 class="govuk-heading-l">Overview</h2>
      <p class="govuk-body">The social worker assessment enables child and family social workers at practitioner level to develop skills and knowledge to improve outcomes for children and families.</p>

      <h2 class="govuk-heading-l">The assessment</h2>
      <p class="govuk-body">The social worker assessment has two parts to it:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>knowledge assessment</li>
        <li>simulated practice assessment</li>
      </ul>
      <p class="govuk-body">You will take both parts of the assessment online.</p>
      <p class="govuk-body">You’ll take the knowledge assessment before you take the simulated scenario assessment.</p>

      <h3 class="govuk-heading-m" id="assessmentsExplanation">Knowledge assessment</h3>
      <p class="govuk-body">The knowledge assessment is a multiple-choice assessment.</p>
      <p class="govuk-body">You will have 1 hour 30 minutes to answer 60 multiple-choice questions.</p>
      <p class="govuk-body">The assessment includes short general knowledge questions based on the <a href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work" target="_blank">practitioner PQS</a>.</p>

      <h3 class="govuk-heading-m">Simulated practice assessment</h3>
      <p class="govuk-body">Two simulated practice scenarios (like a role play) each 15 minutes long.</p>
      <p class="govuk-body">It will be a simulated meeting between you and an actor trained to play the role of either a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>family member</li>
        <li>young person</li>
        <li>social worker</li>
        <li>other professional</li>
      </ul>

      <p class="govuk-body">You will then complete two further assessments based on your simulated practice scenario:</p>

      <!-- <h3 class="govuk-heading-m">Two simulated practice scenarios</h3>
      <p class="govuk-body">A simulated practice scenario is like a role play and will include a simulated meeting between you and an actor trained to play the role of either a:</p> -->
      <ul class="govuk-list govuk-list--bullet">
        <li>1 reflective assessment, 15 minutes long, based on the first scenario</li>
        <li>1 written assessment, 30 minutes long, based on the second scenario</li>
        <!-- <li>social worker</li>
        <li>other professional</li> -->
      </ul>
      <!-- <p class="govuk-body">You will complete two 15 minute scenarios.</p> -->

      <h3 class="govuk-heading-m">A reflective assessment</h3>
      <p class="govuk-body">The reflective assessment is a 15 minute verbal reflection based on the first simulated practice scenario you completed.</p>

      <h3 class="govuk-heading-m">A written assessment</h3>
      <p class="govuk-body">The written assessment is a 30 minute written task based on the second simulated practice scenario you completed.</p>

      <h2 class="govuk-heading-l">Booking your assessment</h2>
      <p class="govuk-body">Once you have your manager's agreement, you can <a href="start" class="">book your assessment</a>.</p>

    </div>
  </div>

{% endblock %}
