
{% extends "layout.html" %}

{% block pageTitle %}
  Book your social worker assessment
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Book your social worker assessment</h1>
      <p class="govuk-body">If you’re a social worker, use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          book your practitioner social worker assessment
        </li>
        <li>
          change or cancel your practitioner social worker assessment
        </li>
      </ul>

      <h2 class="govuk-heading-m">Create an account to book social worker assessments</h2>

      <p>You must <a href="#" class="govuk-link">create an account to book a social worker assessment</a>. You’ll get your username and password when you create your account.</p>

      <h2 class="govuk-heading-m">Book your social worker assessment online</h2>

      <p class="govuk-body">You’ll need your:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          username
        </li>
        <li>
          password
        </li>
        <li>
          manager's email address (optional)
        </li>
      </ul>

      <a href="login" class="govuk-button" data-module="govuk-button">
        Start now
      </a>

      <h2 class="govuk-heading-m">Change or cancel an assessment</h2>

      <p class="govuk-body">You must give at least 3 full working days’ notice to change or cancel your assessment.</p>

      <h2 class="govuk-heading-m">Help with your booking</h2>

      <p class="govuk-body">Contact DfE to get help booking social worker assessments.</p>

      <p class="govuk-body">
        DfE social worker assessment booking support<br />
        <a href="mailto:swassessments@education.gov.uk">swassessments@education.gov.uk</a><br />
        Telephone: 0300 100 1111<br />
        Monday to Friday, 8 am to 4pm<br />
        <a href="#">Find out about call charges</a><br />
      </p>


    </div>
  </div>

{% endblock %}
